<h1 mat-dialog-title>Add Task</h1>
<form [formGroup]="addTaskForm" (submit)="addTask()">
  <mat-form-field appearance="fill">
    <mat-label>Task Name</mat-label>
    <input matInput formControlName="name" >
    <mat-error *ngIf="addTaskForm.controls['name'].hasError('checkDuplicate')">
      Task name is already present in system.
    </mat-error>
    <mat-error *ngIf="addTaskForm.controls['name'].hasError('required')">
      Task name is required.
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Task Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" [disabled]="!addTaskForm.valid">
    Save
  </button>
  <button mat-raised-button color="basic" type="button" class="m-left-5" (click)="onCancel()">
    cancel
  </button>


</form>
